* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #191919;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.smile-box{
  width: 100%;
  position: relative;
  z-index: 0;
  &::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
  }
}
.smile-img{
  background-color: #191919;
  position: absolute;
  /* margin-inline: 30px; */
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}
.search-filed{

  /* border: 1px solid #ffffff !important; */
  & input{
    border: 1px solid #ffffff !important;
  }
  &:hover{
    border: 1px solid #ffffff !important;
  }
}
.textFieldcustomLable {
  color: #ffffff !important;

}

.customInput {
  color: #ffffff !important;
  caret-color: #EFC80C !important;
}

.customInput::before {
  border-bottom: 2px solid #EFC80C !important;
}

.custom-button {
  border-radius: 0px !important;
  border: 2px solid #EFC80C !important;
  color: #ffffff !important;
}

.custom-button:hover {
  border: 2px solid #EFC80C !important;
}

.main-heading {
  color: #b0b0b04f;
  font-size: 82.128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar {
  padding: 20px 0px;

  .navbar-section {
    display: flex;
    align-items: center;
  }

  .nav-list-group {
    display: flex;
    align-items: center;

    .nav-list {
      text-transform: uppercase;
      padding: 10px 20px;
      color: #D9D9D9;
      font-size: 13.66px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 1px;
        transition: 0.4s;
        background-color: #EFC80C;
      }

    }

    .active {
      &::before {
        left: 0%;
      }
    }
  }
}

.banner-section {
  background-image: url(./assets/img/banner.png), url(./assets/img/shape/Rectangle.png);
  background-size: 100%;
  min-height: 100vh;
}

.passe-banner-section {
  background-image: url(./assets/img/banner2.png);
  background-size: contain;
  min-height: 100vh;

  .banner-box {
    width: min(100% - 0px, 40%);
    text-align: center;
    margin: 0px auto;
    padding: 50px 0px;
  }
}

.product-card {
  height: 45vh;
  padding: 5px;
  display: flex;
  align-items: center;

  .img-box {
    width: min(100% - 0px, 80%);
    height: 40vh;
    margin-inline: auto;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .card-contain {
    padding: 10px 20px;
    position: relative;
    height: 100%;
  }

  .card-details-box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    .main-text {
      font-size: 17px;
      font-weight: 600;
      text-transform: capitalize;
    }

    .price-box {
      display: flex;
      align-items: last baseline;

      .main-price-text {
        font-size: 22px;
      }

      .sub-rpice {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  .head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .rating-box {
      background-color: #191919;
      padding: 5px 7px;
      color: #ffffff;
      display: flex;
      align-items: center;

      .rating-text {
        font-size: 14px;
        margin-left: 7px;
      }
    }
  }
}

.footer-icon-box {
  padding-left: 90px;
}
.product-zoom-left-setion{
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .ss {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: 400px;
    /* background-color: black; */
  }
  .slider-section{
    /* border: 1px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(231, 231, 231); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  
  }
  .star-box{
    position: relative;
  }
  .star-box::after{
    content: "";
    height: 100%;
    width: 2px;
    background-color: #888888;
    position: absolute;
    z-index: -1;
    right: 7px;
  
  }
  .zoom-section img{
    width: 100%;
    /* height: 100% !important; */
  }
  .next {
    top: 380px !important;
    left: 20px !important;
    background-color:var(--dark);
    padding: 20px;
  }
  
  .next::after {
    rotate: 90deg;
    font-size: 20px !important;
    color: var(--light);
  }
  
  .prev {
    top: 10px !important;
    left: 20px !important;
    background-color:var(--dark);
    padding: 20px;
  }
  
  .prev::after {
    rotate: 90deg;
    font-size: 20px !important;
    color: var(--light);
  }
}

@media (max-width:768px){
  .product-zoom-left-setion{
    .ss{
      height: auto;
    }
    .next {
      top:50px !important;
      left: auto !important;
    }
    
    .next::after {
      rotate: 0deg;
    }
    .prev {
      top: 50px !important;
      right: auto !important;
    }
    .prev::after {
      rotate: 0deg;
    }
    .slider-section{
      padding: 0;
    }
  }

}